body {
    margin: 0;
}

body * {
    box-sizing: border-box;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.main-login {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.left-login {
    width: 50vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.left-login > h1 {
    font-size: xx-large;
    text-transform: uppercase;
    font-weight: 800;
    letter-spacing: 3px;
}

.right-login {
    width: 30vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.card-login {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 30px 35px;
    background: cornflowerblue;
    border-radius: 10px;
    box-shadow: 0px 10px 40px #00000056;
}

.text-field {
    width: 100%;
    border: none;
    border-radius: 10px;
    padding: 16px;
    font-size: 12pt;
    outline: none;
    box-sizing: border-box;
    margin: 10px 0px;
}

.text-field > input {
    width: 100%;
    border: none;
    border-radius: 10px;
    padding: 16px;
    font-size: 12pt;
    outline: none;
    box-sizing: border-box;
    margin: 10px 0px;    
}

.textfield > label {
    color: #f0ffffde;
    margin-bottom: 10px;
}

.btn-login {
    width: 90%;
    padding: 16px 0px;
    margin: 25px;
    border: none;
    border-radius: 8px;
    outline: none;
    text-transform: uppercase;
    font-weight: 800;
    letter-spacing: 3px;
    cursor: pointer;
    box-shadow: 0px 10px 40px -12px;
}

@media only screen and (max-width: 950px) {
    .card-login {
        width: 85%;
    }
};

@media only screen and (max-width: 600) {
    .main-login {
        flex-direction: column;
    }
    .left-login > h1 {
        display: none;
    }

    .left-login {
        width: 100%;
        height: auto;
    }

    .rigth-login {
        width: 100%;
        height: auto;
    }
    .left-login-image{
        width: 50vw;
    }
    .card-login{
        width: 60%
    }
};
