@import url("https://fonts.googleapis.com/css2?family=Oswald:wght@500&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Oswald", sans-serif;
  transition: 0.3s;
}

.theme {
  display: flex;
  align-items: left;
  margin-top: 40px;
  width: 30px;
  height: 30px;
  cursor: pointer;
}

header {
  margin-top: 10%;
  height: 100px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

header img {
  border-radius: 50%;
  height: 100px;
  width: 100px;
}

main img {
  margin: 5%;
  height: 20px;
  width: 20px;
}

button {
  border-radius: 10px;
  border: none;
  width: 300px;
  flex-direction: column;
  align-items: center;
  margin-top: 2%;
  font-size: 15px;
  cursor: pointer;
}

main {
  margin-top: 100px;
  text-align: center;
}

.span {
  flex-direction: column;
  display: flex;
  padding: 2%;
}

.theme:checked {
    background: #000;
}
  
.dark {
    color: white;
    background: #000;
    transition: 0.3s;
}

.dark button{
    background-color: aquamarine;
    transition: 0.3s;
}

