@import url("https://fonts.googleapis.com/css?family=Source+Sans+Pro");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  outline: 0;
}

html {
  /* a cada 1rem será considera 10px */
  font-size: 62.5%;
}

html,
body {
  height: 100vh;
  font-family: "Source Sans Pro";
  text-rendering: optimizelegibility;
  -webkit-font-smoothing: antialiased;
  display: block;
}

body {
  font-size: 1.6rem;
}

.main {
  background-color: black;
  width: 90%;
  max-width: 1080px;
  margin: auto;
  display: flex;
}

.right-side {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 50%;
  color: #fff;
}

.left-side {
  width: 50%;
  justify-content: center;
  align-items: center;
  height: 60rem;
  display: flex;
  background-color: aliceblue;
  margin: 1rem 3rem;
  border-radius: 1rem;
  flex-direction: column;
}

ul {
  display: flex;
  list-style: none;
  width: 100%;
  justify-content: space-evenly;
  margin: 1rem;
}

.menu-inferior {
  width: 100%;
  position: relative;
}

header {
  position: absolute;
  top: 1.5rem;
}

/* .container {
  display: flex;
  flex-wrap: wrap;
  margin: 0 auto;
}

.content {
  width: 60px;
  height: 60px;
  flex: 1 1 10px;
  margin: 0 10px;
}
*/
img {
  max-width: 7rem;
} 

.container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin: 1rem;
}

.content {
  margin: 3rem;
}

.logo-nike {
  justify-content: center;
  align-items: center;
  display: flex;
}

.carrousel {
  background-color: cadetblue;
  width: 90%;
  height: 250px;
  margin: 1.5rem;
  border-radius: 1rem;
  position: relative;
  display: flex;
  align-items: center;
justify-content: space-between;
}

.arrow-left > img{
  transform: rotate(180deg); 
}

@media (max-width: 630px) {

  .main {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  ul {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}
