body {
    background-color: #FFF;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    width: auto;
    height: 100%;
}

.menu-superior {
    align-items: center;
    background-color: #0080cd;
    display: flex;
    width: 100%;
    height: 80px;
    position: relative;
    justify-content: space-around;
    color: #fff;
}

.menu-inferior {
    background-color: #004983;
    display: flex;
    width: 100%;
    height: 40px;
    position: relative;
    justify-content: space-around;
    color: #fff;
}

.menu-superior .btn-menu ul {
    position: absolute;
    top: 70px;
    left: 0;
    border-radius: 5px;
    border: none;
    color: white;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: #0080cd;
    width: 100vw;
    height: 380px;
    display: none;
    z-index: 99;
}

.menu-superior .btn-menu li:hover, .menu-superior li:hover ul{
    display: flex;
}

ul {
    max-width: 100%;
    max-height: 2rem;
    display: flex;
    justify-content: space-around;
    margin: 0;
    padding: 0;
}

li {
    list-style-type: none;
    padding: 0 50px;
    justify-content: space-around;
}

.menu-inferior li{
    padding: 0 250px;
}

.barra-pesquisa {
    background-color: #0267a3;
    color: #fff;
    width: 380px;
    height: 40px;
    padding: 20px;
    border-radius: 5px;
    border: none;
    margin: 0;
    outline: none;
}

.barra-pesquisa::placeholder {
    color: #fff;
}

.btn-menu:hover {
    color: black;
    transition: .05s;
}

.content {
    align-items: center;
    display: flex;
    width: 100%;
    height: 100%;
    position: relative;
    justify-content: space-around;
    padding: 10px 0;
}

.left-content {
    border: solid black;
    border-radius: 15px;
    justify-content: center;
    width: 360px;
    height: 380px;
    justify-content: center;
    align-items: center;
}

.left-content h2 {
    margin: auto;
}

.sol-div {
    justify-content: center;
    margin: auto;
}

.right-content {
    background-color: chocolate;
    border-radius: 15px;
    justify-content: center;
    width: 700px;
    height: 380px;
}

.content-slides {
    width: 700px;
    height: 380px;
    border-radius: 15px;
    overflow: hidden;
}

.navigation {
    position: absolute;
    bottom: 50px;
    left: 55%;
    display: flex;
}

.bar {
    width: 70px;
    height: 17px;
    border: 2px solid #fff;
    margin: 6px;
    border-radius: 5px;
    cursor: pointer;
    transition: 0.4s;
}

.bar:hover {
    background-color: #fff;
}

.slides input {
    display: none;
}

.slides {
    display: flex;
    width: 500%;
    height: 100%;
}

.slide {
    width: 20%;
    transition: 0.6s;
}

.slide img {
    width: 100%;
    height: 100%;
}

#slide1:checked~.s1 {
    margin-left: 0;
}

#slide2:checked~.s1 {
    margin-left: -20%;
}

#slide3:checked~.s1 {
    margin-left: -40%;
}

#slide4:checked~.s1 {
    margin-left: -60%;
}

#slide5:checked~.s1 {
    margin-left: -80%;
}
